<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097560267066-ulvqp1ivj676sf8d2dbtdm8p0ibssac8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097560267066-ulvqp1ivj676sf8d2dbtdm8p0ibssac8</string>
	<key>API_KEY</key>
	<string>AIzaSyCwR8t20knP9NQ2QdeTyRMOEijsUGIDzAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1097560267066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapplication</string>
	<key>PROJECT_ID</key>
	<string>chatapplication-b4365</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapplication-b4365.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097560267066:ios:f33ca6183f4ff7bb905803</string>
</dict>
</plist>